<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        h1{
            padding-left: 20%;
            border: dashed rgb(239, 10, 10);
            border-radius: 20px;
            color: #000000;
        }
    </style>
</head>
<body bgcolor="wheat">
    <h1>Aage ka dekh, Ye to ho gaya </h1>
    <!-- <input type="submit" name="Entry" id="Entry"    > -->
    <!-- <a href="entry1.html">Entry here</a> -->
</body>
</html>