*{
/* background-color: rgb(222, 222, 222); */
font-family: sans-serif;
text-align: center;
margin: 0;
padding: 0;

}
.container
{
    width: 100%;
    height: 100%;
    background: rgb(75, 77, 75);
}
.menu ul
{
    display: inline-flex;
    margin: 50px;
}


.Header {
    width: 100%;
    height: 50px;
    background-color: rgb(33, 33, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 2px solid #ccc;
    transition: all 0.3s ease;
}

button
{
    width: 150px;
    height: 40px;
    background-color: rgb(33, 33, 81);
    color: aliceblue;
    border: none;
    background-color: rgb(133, 133, 133);
    border-radius: 3%;
}

button:hover
{
    background-color: rgb(0, 0, 0) ;
    color: white;
}

.main
{
    width: 50%;
    height: 1000%;
    background-color: rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 1);
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
}
.main:hover
{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transform: scaleX(100%);
}
form
{
background-color: seashell;
border-radius: 10px;
}

form input:hover
{
    background-color: darkgoldenrod;
    color: black;
}

.footer
{
    width: 100%;
    height: 50px;
    background-color: rgb(33, 33, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 2px solid #ccc;
    transition: all 0.3s ease;


}